/.idea/
/vendor/
/var/
/setup/
/pub/
/phpserver/
/*.sample
/lib/
/*.dist
/CHANGELOG.md
/.user.ini
/.editorconfig
/.php-cs-fixer.dist.php
/LICENSE.txt
/LICENSE_AFL.txt
/SECURITY.md
/bin/
/app/
!/app/code/
/.htaccess
/generated/
/dev/
/composer.lock
/COPYING.txt
